body {
  margin: 20px;
}
.my_main {
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 2.5rem;
  padding: 1rem 0;
  line-height: 1.5rem;
}
p{
  font-size: 20px;
  padding: 10px;
  line-height: 1.5rem;

}
button{
  width: 100px;
  height: 50px;
  font-size: 17px;
  background-color: #eee;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
}
button:hover {
  background-color: #000;
  color: #fff;
}
img {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  height: 260px;
}
#status {
  color: red;
  font-weight: bold;
}
