*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
main {
    background-color: aliceblue;
    text-align: center;
    height: 100vh;
    padding-top: 20%;
}
.container h1 {
    font-size: 3rem;
    padding: 20px 0;
}
#value {
    font-size: 4rem;
    padding-bottom: 20px;

}
.button-container {
    padding-top: 25px;;
    
}
.btn {
    text-transform: uppercase;
    background: transparent;
    color: #222;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin: 0.5rem;
  }
  .btn:hover {
    color: #fff;
    background: #222;
  }
  
